<!DOCTYPE html>
<!-- To run the current sample code in your own environment, copy this to an html page. -->

<html>
<head>
    <title>Todo Harkka</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- Pick a theme, load the plugin & initialize plugin -->
    <link href="scripts/tablesorter/themes/blue/style.css" rel="stylesheet">
    <script src="scripts/tablesorter/jquery.tablesorter.js"></script>
    
    <script src="scripts/jsviews.js"></script>
    
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="result"></div>
    
<script id="tableRows" type="text/x-jsrender">
{{for tasks}}
    <tr class="{{if done == 1}}done{{else}}unfinished{{/if}}" data-id="{{:id}}">
        <td>{{:task_name}}</td>\n\
        <td class="assignee-column">{{:assignee}}</td>\n\
        <td>{{:deadline}}</td>\n\
        <td class="status">
            {{if done == 1}}
                <button data-done="1" class="status btn-xs btn-success">Done</button>
            {{else}}
                <button data-done="0" class="status btn-xs btn-danger">Unfinished</button>
            {{/if}}
        </td>
        <td><button class="btn-xs btn-primary">Edit</button><button class="btn-xs btn-warning">Delete</button></td>
    </tr>
{{/for}}
</script>

<script id="assignees" type="text/x-jsrender">
<div class="btn-group pull-right">
    <button type="button" class="btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
      Change <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a class="assign" data-assignee="0" href="#">Unassign</a></li>
        <li class="divider"></li>
        {{for assignees}}
            <li><a class="assign" data-assignee="{{:id}}" href="#">{{:name}}</a></li>
        {{/for}}
    </ul>
</div>
</script>                    

<div class="modal fade todo-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content row">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add ToDo Item</h4>
            </div>
            <div class="modal-body">
                <label for="task-name" class="col-xs-6">Task Name:</label>
                <input id="task-name" data-column="task_name" class="col-xs-5" type="text" />
                <label for="deadline" class="col-xs-6">Deadline:</label>
                <input id="deadline" data-column="deadline" class="col-xs-5" type="text" placeholder="e.g. 07-08-2014" />
                <input type="hidden" name="entity" value="task" />
                <button class="save btn btn-primary pull-right">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade assignee-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content row">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Assignee</h4>
            </div>
            <div class="modal-body">
                <label for="assignee-name" class="col-xs-6">Name:</label>
                <input id="assignee-name" data-column="name" class="col-xs-5" type="text" />
                <input type="hidden" name="entity" value="assignee" />
                <button class="save btn btn-primary pull-right">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-3">
    <h4>Show:</h4> 
    <span class="radio-container"><input id="show-done" name="show" checked="checked" type="radio" /> <label for="show-done">Done</label></span>
    <span class="radio-container"><input id="show-unfinished" name="show" type="radio" /> <label for="show-unfinished">Unfinished</label></span>
</div>
<div class="col-xs-3">
    <button class="add-todo btn btn-primary" data-toggle="modal" data-target=".todo-modal">Add ToDo item</button>
    <button class="add-assignee btn btn-primary" data-toggle="modal" data-target=".assignee-modal">Add Assignee</button>
</div>

<div class="col-xs-5">
    <p>The ToDo list now initially sorts by assignee name (from unassigned to ascending aplhabetic order) and dealine (soonest first). You can submit assignees and tasks, then change task status and assignees.</p>
    <p><b>Next feature: Add comments and history data for tasks.</b></p>
</div>

<table class="tablesorter">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Assignee</th>
            <th>Deadline</th>
            <th>Done</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="todo-table-content">
    </tbody>
</table>

<script>
    var tableRows = $.templates('#tableRows');
    var changeAssignees = $.templates('#assignees');
    
    function updateTable(filter)
    {
        $.getJSON('index.php', function(data){
            $('#todo-table-content').html(tableRows.render(data));
            
            // For some reasone sorting does not work with dynamic row addition
            //$('.tablesorter').trigger('update');
            // Sorton has to have three brackets instead of two
            //$('.tablesorter').trigger('sorton', [[[1,0],[2, 0]]]);
            
            // Instead we have to:
            $('.tablesorter').remove().appendTo('body').tablesorter({
                    usNumberFormat : false,
                    sortReset      : true,
                    sortRestart    : true,
                    sortList       : [[1,0],[2, 0]]
                });
            
            parseAssignees(data);            
            filter();
        });
    }
    
    function parseAssignees(data)
    {
        var changeAssigneeHtml = changeAssignees.render(data);
        $('.assignee-column').each(function() {
            var assigneeId = $(this).html();
            $(this).html('');
            for (index in data.assignees) {
                if (data.assignees[index].id === assigneeId) {
                    $(this).html(data.assignees[index].name);
                }
            }

            $(this).append(changeAssigneeHtml);
        });
    }
    
    function showDone()
    {
        $('.done').each(function(){
            $(this).show();
        });
        $('.unfinished').each(function(){
            $(this).hide();
        });
        
        $('#show-done').attr('checked', 'checked');
        $('#show-unfinished').removeAttr('checked');
    }
    
    function showUnfinished()
    {
        $('.unfinished').each(function(){
            $(this).show();
        });
        $('.done').each(function(){
            $(this).hide();
        });
        
        $('#show-done').removeAttr('checked');
        $('#show-unfinished').attr('checked', 'checked');
    }
    
    function showCurrent()
    {
        if ($('#show-done').is(':checked')) {
            showDone();
        }
        if ($('#show-unfinished').is(':checked')) {
            showUnfinished();
        }
    }
    
    updateTable(showDone);
    
    $('#show-done').on('click', function() {
        showDone();
    });
    
    $('#show-unfinished').on('click', function() {
        showUnfinished();
    })
    
    $('body').on('click', '.save', function() {
        var submitData = {};
        $(this).parent('.modal-body').children('input').each(function(){
            if ($(this).data('column')) {
                submitData[$(this).data('column')] = $(this).val();
            }
            if ($(this).attr('name') == 'entity') {
                submitData.entity = $(this).val();
            }
        });
        
        $.post(
            'index.php', 
            submitData,
            function () {
                updateTable(showUnfinished);
                
                $('.modal').modal('hide');
                $('#task-name').val('');
                $('#assignee').val('');
                $('#deadline').val('');
            },
            'json'
        );
    });
    
    $('body').on('click', '.status', function(event) {
        event.stopImmediatePropagation();
        var show = showDone;
        var data = {};
        data.id = $(this).closest('tr').data('id');
        data.entity = 'task';
        
        if ($(this).data('done') == 0) {
            data.done = 1;
        }
        else if ($(this).data('done') == 1) {
            data.done = 0;
        }
        
        if ($('#show-unfinished').is(':checked')) {
            show = showUnfinished;
        }
        
        $.ajax({
            type: 'PUT',
            url: 'index.php',
            contentType: 'application/json',
            data: data,
            success: function() {
                updateTable(show);
            }
        });
    });
    
    $('body').on('click', '.assign', function(event) {
        var data = {};
        data.id = $(this).closest('tr').data('id');
        data.assignee = $(this).data('assignee');
        data.entity = 'task';
        
        console.log(data);
        $.ajax({
            type: 'PUT',
            url: 'index.php',
            contentType: 'application/json',
            data: data,
            success: function() {
                updateTable(showCurrent);
            }
        });
    });
    
</script>

</body>
</html>
